@font-face {
    font-family: 'Panton Light Caps'; /* Гарнитура шрифта */
    src: url(../fonts/Pantonlightcaps.eot); /* Для IE5-8 */
    src: local('Panton Light Caps'), url(../fonts/Pantonlightcaps.ttf); /* Для остальных браузеров */
}

@font-face {
    font-family: 'Roboto Medium'; /* Гарнитура шрифта */
    src: url(../fonts/Robotomedium.eot); /* Для IE5-8 */
    src: local('Roboto Medium'), url(../fonts/Robotomedium.ttf); /* Для остальных браузеров */
}

@font-face {
    font-family: 'Akrobat'; /* Гарнитура шрифта */
    src: url(../fonts/Akrobat.eot); /* Для IE5-8 */
    src: local('Akrobat'), url(../fonts/Akrobat.ttf); /* Для остальных браузеров */
}
 
.logo {
	height: 123px;
	width: 492px;
	margin-top: 4px;
	margin-bottom: 4px;
	background-image: url(../img/logo.png);
	display:block;
}

.phone-warp {
	margin: 24px 0 27px auto;
	outline: 0px solid #666;
}

.phone-warp p {
	font-family: 'Panton Light Caps', sans-serif;
	font-size: 26px;
	letter-spacing: .04em;
}

.phone-warp a {
	display: block;
	width: 246px;
	height: 38px;
	background-color: #2e516a;
	color: white;
	padding: 10px 0;
	text-align: center;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 15px;
	letter-spacing: .04em;
	text-transform: uppercase;
	
}
	
.banner {
	height: 595px;
	background-position: center;
	background-color: #232b32;
	background-image: url(../img/bg.jpg);
}

.menu {
	height: 63px;/*не очень хорошо, почему написанно ниже, где я буду показывать пример создания такого меню */
	background-color: rgba(0,0,0,.59)
}


/*
.menu ul {
	outline: 1px solid #666;
}

* Тут косяк значи такой, ты задаешь обетекание по левому краю, поэтому если на всю ширину элементы не умещаются,
* то они будут переходить на следующую строчку в любом случае.
* Не буду ходить вокруг да около, а покажу тебе один из вариантов создания меню, пусть он будет как один из шаблонов

.menu li {
	outline: 1px solid #666;
	display: block;
	float: left;
	width: 228px;
	font-family: Akrobat, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
*/

/*
* Берем наш ненумерованный список ul c классом меню и задаем ему свойство display:table;
* которое из строчного элемента даст ему поведение таблицы. Обязательно растянем таблицу на всю
* ширину контейнера, в нашем случае col-md-12, контейнером я буду называть не только классы бутстрапа, но 
* и те элементы DOM - дерева, кот. являются родительскими по отношению к элементу о котором говорю.
*/
.menu ul{
	display: table;
	width: 100%;
	list-style-type: none; /* убрал кружки */
	margin: 0;/* зачем сделал - читай P.S. ниже */
}
/*
* Теперь начинаем работать с нашими пунктами списка. Давай прикинем, что есть у таблицы? Правильно - столбцы, а так как
* нашему ul мы дали поведение таблицы, соотв. ему нужно назначить столбцы, кем будут приходиться его дочерние элементы
* li. Задаем при помощи св-ва display: table-cell; Уже даже после того, как мы зададим то св-во элементы как бы выстроятся 
* в n-ое кол-во колоно, где n зависит от кол-во пунктов, в нашем случае их 5. Колонки у таблиц естественно не переносятся на новые строки
* и всегда находятся в пределах таблицы. С уменьшением размера таблицы, они пропорционально уменьшаются. Также зададим нашем колонкам ширину width: 1%;
* что означать будет , что все колонки будут одной ширины в таблице, так вроде красивее смотрится и ровнее, ну а дальше уже сам балуйся, надеюсь более менее понятно разжевал.
* оставлю тебе свойство outline, что тебе было виднее и немного padding дам

* P.S. у тебя у блока menu задана фиксированная высота - это немного неправильно. Правильней будет её вообще на задавать и дать ей расти взависимости от
* контента. В нашем случае - это меню, за счет padding элементов меню наберешь нужную высоту. Часто помогает когда ховер должен занимать всю линию меню.
* Сам исправишь. И ещё не забывай у некоторых элементов сбрасывать стандартные св-во, кот. им дает браузер. Например тегу p и ul он задает стандартный margin, 
* лучше где-нибудь в начале стилей сбросить этот параметр, так как он чаще всего у тебя будет другой, либо вообще не будет.

*/
.menu li {
	display: table-cell;
	width: 1%;
	text-align: center;
	outline: 1px solid #cc0000;
	padding: 5px 0;
}
