@font-face {
    font-family: 'Panton Light Caps'; /* Гарнитура шрифта */
    src: url(../fonts/Pantonlightcaps.eot); /* Для IE5-8 */
    src: local('Panton Light Caps'), url(../fonts/Pantonlightcaps.ttf); /* Для остальных браузеров */
}

@font-face {
    font-family: 'Roboto Medium'; /* Гарнитура шрифта */
    src: url(../fonts/Robotomedium.eot); /* Для IE5-8 */
    src: local('Roboto Medium'), url(../fonts/Robotomedium.ttf); /* Для остальных браузеров */
}

.logo {
	height: 123px;
	width: 492px;
	margin-top: 4px;
	margin-bottom: 2px;
	background-image: url(../img/logo.png);
	display:block;
}

.phone-warp {
	margin: 20px 0 26px auto;
	outline: 0px solid #666;
	float: right;
}

.phone-warp p {
	font-family: 'Panton Light Caps', sans-serif;
	font-size: 26px;
	letter-spacing: 1.2px;
}

.phone-warp a {
	display: block;
	width: 246px;
	height: 38px;
	background-color: #2e516a;
	color: white;
	padding: 8px 0;
	text-align: center;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 15px;
	letter-spacing: .04em;
	text-transform: uppercase;
	float: right;
}
	
.phone-warp a:hover {
	background-color: #5190bf;
	color: white;
	text-decoration: none;
}	
	
.banner {
	height: 595px;
	background-position: center;
	background-color: #232b32;
	background-image: url(../img/bg.jpg);
}

.menu {
	background-color: rgba(0,0,0,.59)
}


.menu ul{
	display: table;
	width: 100%;
	list-style-type: none;
	margin: 0;			/* сброс */
	padding: 0;			/* сброс */
	font-family: Akrobat, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	
}

.menu li {
	display: table-cell;
	width: 1%;
	text-align: center;
	outline: 0px solid #cc0000;
	padding: 19px 0;
	
	
}

.menu a {
	color: #fefefe;
}

.menu a:hover, a:active {
	color: #f8f13d;
	text-decoration: none;
}

.banner h1 {
	padding: 88px 0 0 0;
	text-align: center;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 48px;
	letter-spacing: .04em;
	line-height: 58px;
	text-transform: uppercase;
	color: white;
}

.banner span {
	color: #f8f13d
}

.banner p {
	padding: 22px 0;
	text-align: center;
	font-family: 'Akrobat Light', sans-serif;
	font-size: 23px;
	letter-spacing: .04em;
	color: white;
}
.buttom0 {
	display: block;
	width: 437px;
	height: 54px;
	border: 2px solid rgba(255,255,255,.84);
	color: rgba(255,255,255,.84);
	margin: 82px auto 0 auto;
	padding: 9px 0;
	text-align: center;
	font-family: Akrobat, sans-serif;
	font-size: 22px;
	letter-spacing: .04em;
	text-transform: uppercase;
}

.buttom0:hover {
	border: 2px solid rgba(255,255,255,1);
	color: rgba(255,255,255,1);
	text-decoration: none;
}

.pr-l h2 {
	margin: 80px 0 0 0;
	text-align: center;
	font-family: 'Akrobat Bold', sans-serif;
	font-size: 44.59px;
	letter-spacing: 1.5px;
	color: black;
}

.pr-l h2 {
	margin: 17px 0 18px 0;
	text-align: center;
	font-family: 'Akrobat Bold', sans-serif;
	font-size: 44.59px;
	letter-spacing: 1.5px;
	color: black;
}

.pr-l p {
	margin-bottom: 28px;
	text-align: center;
	font-family: 'Akrobat Light', sans-serif;
	font-size: 21px;
	letter-spacing: 2.6px;
	color: black;
	text-transform: uppercase;
}

.zn {
	height: 547px;
	background-position: center;
	background-color: #d5d7d3;
	background-image: url(../img/bg2.jpg);
}

.zn h2 {
	margin: 37px 0 0 0;
	font-family: 'Akrobat ExtraBold', sans-serif;
	font-size: 55px;
	letter-spacing: 2.3px;
	text-transform: uppercase;
	line-height: 64px;
	color: black;
}

.zn span {
	font-family: Akrobat, sans-serif;
	font-size: 44px;
	letter-spacing: 1.05px;
	color: #2e516a;
}

.zn p {
	margin: 32px  0 0 0;
	font-family: 'Akrobat Light', sans-serif;
	font-size: 23px;
	letter-spacing: 1.01px;
	line-height: 25px;
	color: black;
}

.buttom1 {
	display: block;
	width: 434px;
	height: 51px;
	background-color: #2e516a;
	color: white;
	margin: 44px auto 0 auto;
	padding: 9px 0;
	text-align: center;
	font-family: Akrobat, sans-serif;
	font-size: 22px;
	letter-spacing: .04em;
	text-transform: uppercase;
}

.buttom1:hover {
	color: white;
	background-color: #5190bf;
	text-decoration: none;
}